name: textlint

on:
  pull_request:
    paths:
    - "README.md"
    - "contents/**/*.md"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  textlint-ja:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run textlint
        run: |
          npm install textlint textlint-rule-preset-ja-spacing
          npx textlint README.md "./contents/**/*.md"
